<h4 class="text-center">
   {% if is_granted('ROLE_RESP') %}
      {% if locked %}
         {{ include('visitor/player/administration/_delete_form.html.twig') }}
      {% else %}
         <a href="{{ path('administration_locked_lock', {'player_id': player.id}) }}">
            <img class="img-show-player" src="{{ asset('pictures/Cadennas_ouvert_Prileria.png') }}" alt="">
         </a>
      {% endif %}
   {% endif %}
   Profil de {{ player.batPlayer }}
</h4>
<div class="row">
   <div class="col-lg-3">
      <img src="https://cravatar.eu/head/{{ player.uuid }}/128" alt="">
   </div>
   <div class="col-lg-9">
      <p><b>Première connexion :</b> {{ player.firstlogin|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}</p>
      <p><b>Dernière connexion :</b> {{ player.lastlogin|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}</p>
      <p><b>Uuid :</b> {{ player.uuid }}</p>
      {% if is_granted('ROLE_RESP') %}
         <p><b>Ip : </b> {{ player.lastip }}</p>
      {% endif %}
   </div>
   <hr>
   <h3>Statut de l'utilisateur</h3>
   <div class="offset-md-3 col-md-6 offset-sm-1 col-sm-10 text-center player-frame">
      {% if nbBan > 0 %}
         <p class="frame-ban">
            Cet utilisateur est banni de nos serveurs,<br>
            car il ou elle n'a pas respecter le règlement.
         </p>
      {% endif %}
      {% if nbMute > 0 %}
         <p class="frame-mute">
            Cet utilisateur est mute de nos serveurs,<br>
            car il ou elle n'a pas respecter le règlement.
         </p>
      {% endif %}
      {% if nbBan == 0 and nbMute == 0 %}
         <p class="frame-true">
            Cet utilisateur n'est actuellement pas sanctionné<br>
            de nos serveurs, et peut jouer normalement.
         </p>
      {% endif %}
   </div>
</div>
