<nav class="myNav">
   <ul id="navList" class="navList navListLeft">
      <li class="navLinks">
         <a href="{{ path('default') }}">Accueil</a>
      </li>
      {% if app.user and is_granted('ROLE_STAFF') %}
         <li class="navLinks dropdown">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Modération</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="{{ path('moderation_ban_index') }}">Ban</a>
               <a class="dropdown-item" href="{{ path('moderation_mute_index') }}">Mute</a>
               <a class="dropdown-item" href="{{ path('moderation_kick_index') }}">Kick</a>
               <a class="dropdown-item" href="{{ path('moderation_comments_index') }}">Warn / Note</a>
               <a class="dropdown-item" href="{{ path('moderation_report_index') }}">Report</a>
            </div>
         </li>
      {% endif %}
   </ul>
   <ul class="navListMiddle">
      <li class="navLinks">
         <img src="https://prileria.net/storage/img/logopprileriablanc.png" alt="Logo">
      </li>
   </ul>
   <ul id="navList" class="navList navListRight">
      {% if app.user %}
         {% if is_granted('ROLE_RESP') %}
            <li class="navLinks dropdown">
               <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if is_granted('ROLE_ADMIN') %}
                     <a class="dropdown-item" href="#">Gestion utilisateur</a>
                     <a class="dropdown-item" href="#">Gestion des grades</a>
                  {% endif %}
                  <a class="dropdown-item" href="#">Liste des joueurs</a>
                  <a class="dropdown-item" href="#">Liste des profils bloqués</a>
                  <hr class="dropdown-divider">
                  {% if is_granted('ROLE_ADMIN') %}
                     <a class="dropdown-item" href="#">Switch_User</a>
                  {% endif %}
                  <a class="dropdown-item" href="#">Administration</a>
               </div>
            </li>
         {% endif %}
         <li class="navLinks dropdown">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon Compte</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Profil</a>
               <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
         </li>
      {% else %}
         <li class="navLinks"><a href="{{ path('app_login') }}">Connexion</a></li>
      {% endif %}
   </ul>
   <div class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
   </div>
</nav>

{% block javascripts %}
   {{ encore_entry_script_tags('navbar') }}
{% endblock %}
