<nav class="myNav">
   <ul id="navList" class="navList navListLeft">
      <li class="navLinks">
         <a href="{{ path('default') }}">Accueil</a>
      </li>
      {% if not app.user %}
         <li class="navLinks"><a href="{{ path('app_login') }}">Connexion</a></li>
      {% endif %}
      {% if app.user and is_granted('ROLE_STAFF') %}
         <li class="navLinks dropdown">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Modération</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="{{ path('moderation_ban_index') }}">Ban</a>
               <a class="dropdown-item" href="{{ path('moderation_mute_index') }}">Mute</a>
               <a class="dropdown-item" href="{{ path('moderation_kick_index') }}">Kick</a>
               <a class="dropdown-item" href="{{ path('moderation_comments_index') }}">Warn / Note</a>
               <a class="dropdown-item" href="{{ path('moderation_report_index') }}">Report</a>
            </div>
         </li>
      {% endif %}
   </ul>
   <ul class="navListMiddle">
      <li class="navLinks">
         <img src="https://prileria.net/storage/img/logopprileriablanc.png" alt="Logo">
      </li>
   </ul>
   <ul id="navList" class="navList navListRight">
      {% if app.user %}
         {% if is_granted('ROLE_STAFF') %}
            <li class="navLinks dropdown">
               <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if is_granted('ROLE_ADMIN') %}
                     <a class="dropdown-item" href="{{ path('administration_user_index') }}">Gestion utilisateur</a>
                     <a class="dropdown-item" href="{{ path('administration_rank_index') }}">Gestion des grades</a>
                  {% endif %}
                  <a class="dropdown-item" href="{{ path('administration_player_index') }}">Liste des joueurs</a>
                  <a class="dropdown-item" href="{{ path('administration_locked_index') }}">Liste des profils bloqués</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="{{ path('administration_index') }}">Administration</a>
                  <hr class="dropdown-divider">
                  {% if is_granted('ROLE_ADMIN') %}
                     <a class="dropdown-item" href="?_switch_user=">Switch_User</a>
                  {% endif %}
                  <a id="searchPlayer" class="dropdown-item" href="#">Rechercher un joueur</a>
               </div>
            </li>
         {% endif %}
         <li class="navLinks"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
      {% endif %}
      {% if not app.user %}
         <li class="navLinks">
            <form class="form-inline d-inline-block">
               <div id="container-form-pseudo">
                  <div class="form-group">
                     <input id="search" class="form-control form-input mr-sm-2" type="search" placeholder="Recherche d'un joueur" aria-label="Search">
                  </div>
                  <div id="responsePseudo" class="nav-item dropdown"></div>
               </div>
            </form>
         </li>
      {% endif %}
   </ul>
   <div class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
   </div>
</nav>

{% if app.user %}
   <div id="formPlayerSearch" class="text-center">
      <form class="form-inline d-inline-block">
         <div id="container-form-pseudo">
            <div class="form-group">
               <input id="search" class="form-control form-input mr-sm-2" type="search" placeholder="Recherche d'un joueur" aria-label="Search">
            </div>
            <div id="responsePseudo" class="nav-item dropdown"></div>
         </div>
      </form>
   </div>
{% endif %}

{% block javascripts %}
   {{ encore_entry_script_tags('navbar') }}
   {{ encore_entry_script_tags('searchPlayer') }}
{% endblock %}
