<div class="moderation-form">
   <h1 class="text-center">{{ title }}</h1>
   {{ form_start(form) }}
   {{ form_widget(form) }}
   <label class="form-info">
      <span class="red-stars">*</span> m = Minute / h = Heure / d = Jour
   </label>
   <button class="btn btn-success">{{ button_label|default('Envoyer') }}</button>
   {{ form_end(form) }}
</div>
